.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo {
  height: 40px;
}

.navbar-links {
  display: flex;
  gap: 30px; /* Giver mere afstand mellem links */
  align-items: center;
  flex-grow: 1;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 15px;
  transition: color 0.2s ease;
}

.navbar-links a:hover {
  color: #e0b4c5;
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 40px;
}

.flag {
  width: 25px;
  height: 18px;
  margin-right: 12px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 0px;
}

.user-button {
  background-color: transparent; /* Ingen baggrundsfarve */
  color: #000; /* Sort tekst som standard */
  padding: 5px 10px;
  font-weight: bold; 
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease; /* Kun teksten Ã¦ndrer farve ved hover */
  margin-right: 0px;
  border: none; /* Fjerner kant pÃ¥ knappen */
  text-align: center;
  white-space: nowrap;
}

.user-button:hover {
  background-color: transparent; /* SÃ¸rger for, at baggrunden forbliver gennemsigtig ved hover */
  color: #e0b4c5; /* Ã†ndrer kun farven pÃ¥ teksten ved hover */
}